@model WebApp.Models.Emps

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDesignation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDesignation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDoj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDoj)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
