@model IEnumerable<WebApp.Models.Emps>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDesignation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDoj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDesignation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDoj)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EId })
        </td>
    </tr>
}

</table>
